<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yidukeji.persistence.AccessUserMapper">

	<select id="getAccessUserList" resultType="cn.yidukeji.bean.AccessUser">
		SELECT
		id,
		access_key_id as accessKeyId,
		secret_key as secretKey,
		company_id as companyId,
		description,
		level,
		ip
		from access_user
	</select>

</mapper>